@{
    ViewBag.PageTitle = "Product Management";
    ViewBag.CardTitle = "View Product";
}


<a href="/Admin/Product/Create" class="btn btn-primary">Add To List</a>

<br />
<br />
<table class="table table-hover" id="mytable" width="100%">
    <thead class="text-bold">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/Products1.js"></script>
}

