@page
@model ForgotPasswordConfirmation


<br />
<div class="text-center">
    <h5>
        Please check your email to reset your password.
    </h5>
</div>

<div class="text-center">
    <img src="~/img//Forgot password.gif" />
</div>
