 @model List<IGrouping<Category, Product>>

<div class="container mt-5">
    <div class="row justify-content-center">
        <!-- Category Links Section -->
        <div class="col-12 col-md-4 d-flex flex-column align-items-center text-center">
            @foreach (var c in Model)
            {
                <h5 class="mb-4">
                    <a href="@Url.Action("GetProd", "Home", new { name = c.Key.Name })" class="text-decoration-none">
                        @c.Key.Name
                    </a>
                </h5>
            }
        </div>

        <!-- Image Section -->
        <div class="col-12 col-md-8 text-center">
            <img src="~/img/Ecommerce web page.gif" alt="Ecommerce" class="img-fluid" style="max-width: 100%; height: auto;" />
        </div>
    </div>
</div>
