<div class="Container row">
    <div class="col-12">
        <h3>Order Confirmation</h3>
        <br />
        <hr />
        <h2>Your Order Number @Model Has Benn Suceessfully Placed</h2>
    </div>
</div>