<div class="Container row">
    <div class="col-12 text-center">
        <br />
        <h3>Thank You</h3>
        <img src = "~/img/istockphoto-1396245389-612x612.jpg" width="500" height="400"/>
    </div>

        <div class="col-12 text-center">
            <br />
            <h2>Your Order Number @Model Has Been Successfully Placed</h2>
        </div>
</div>