<div>
    <div class="text-center" style="width:100%">
        <br />
        <h3>Thank You</h3>
        <img src="~/img/istockphoto-1396245389-612x612.jpg" style="height: auto;
        width: auto;" />
    </div>

        <div class="text-center">
            <br />
            <h2>Your Order Number @Model Has Been Successfully Placed</h2>
        </div>
        <hr />
</div>